# ----APP-----
APP_ENV=development
LOG_LEVEL=INFO

# ------Datbase----------
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/ragdb

# ---LLM Provider ("openai" or "azure")
LLM_PROVIDER=azure

# ----OpenAI(When LLM_PROVIDER=openai) ----
OPENAI_API_KEY=
EMBEDDING_MODEL= text-embedding-3-large

# -------Azure OpenAI(When LLM_PPROVIDER=azure)-----------
AZURE_OPENAI_API_KEY=
AZURE_OPENAPI_ENDPOINT=
AZURE_OPENAI_API_VERSION=
AZURE_EMBEDDING_DEPLOYMENT=
AZURE_LLM_DEPLOYMENT=

# ---Model behaviour-----------
LLM_MODEL=gpt-4o-mini
EMBEDDING_DIMENSION=1024
LLM_TEMPERATURE=0.0
LLM_MAX_TOKENS=1024


# ---Chunking /search ----
CHUNK_SIZE=1000
CHUNK_OVERLAP=200
TOP_K=5